<!DOCTYPE html>
<html>
<head>
  <title>Party</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body>
  <div class="container">
    <a class="btn" href="/users/logout">Logout</a>
    <%= yield %>
    <% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
    <p> <%= message %> </p>
    <% end %>
    <% end %>
  </div>
</body>
</html>
